/* ----------------------------------- */
/*      Styles to colors controls      */
/* ----------------------------------- */
.color-delete,
.color-value {
  pointer-events: auto;
  cursor: pointer;
  transform: translateX(-50%);
  position: absolute;
  left: 0;
}

/* ----------------------------------- */
/*    Styles to color delete button    */
/* ----------------------------------- */
.color-delete {
  --gb-color: #fff;
  --color: #000;

  border: 1px solid var(--color);
  cursor: pointer;
  border-radius: 50%;
  padding: 3px 5px;

  background: var(--gb-color);
  color: var(--color);
  top: 10px;
}

/* ----------------------------------- */
/*     Styles to color value input     */
/* ----------------------------------- */
.color-value {
  width: 10px;
  bottom: 10px;
}

.color-value::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-value::-webkit-color-swatch {
  border: none;
}

/* ----------------------------------- */
/*       Styles to color position      */
/* ----------------------------------- */
.color-position,
.color-position::-webkit-slider-thumb,
.color-position::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}

.color-position {
  --gb-color: #fff;
  --color: #000;

  width: 100%;
  height: 100%;
  margin: 0;

  background: none;
  pointer-events: none;
  outline: none;
}

.color-position::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
}

.color-position::-webkit-slider-thumb {
  width: 10px;
  height: 100%;

  border-radius: 10px;
  background: var(--gb-color);
  border: 1px solid var(--color);

  pointer-events: auto;
  cursor: pointer;
}

@media (min-width: 586px) {
  .color-value {
    width: 15px;
  }

  .color-position::-webkit-slider-thumb {
    width: 15px;
  }
}

/* ----------------------------------- */
/*         Styles to interactive       */
/* ----------------------------------- */
.color-delete,
.color-value,
.color-position::-webkit-slider-thumb {
  opacity: 0.4;
  outline: none;
}

.color-delete:hover,
.color-value:hover,
.color-position:hover::-webkit-slider-thumb {
  opacity: 1;
}

.color-position:focus {
  outline: none;
}

.color-delete:focus,
.color-value:focus,
.color-position:focus::-webkit-slider-thumb {
  /* outline: 1px auto #101010; */
  opacity: 1;
  filter: brightness(0.9);
}

.btn-add-new {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 2em;
  border-radius: 50%;
}

.btn-to-accept {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}
